<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>

    <!-- @if NODE_ENV='development' -->
    <link rel="stylesheet" href="/assets/template/vendor/selectric/selectric.css">
    <link rel="stylesheet" href="/assets/template/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!-- @endif -->

    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="/assets/template/vendor/selectric/selectric.css">
    <link rel="stylesheet" href="/assets/template/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/template/css/main.min.css">
    <!-- @endif -->
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="/" class="logo"><img src="/assets/template/img/logo.jpg" alt="пробковые полы corkstyle" /></a>
            </div>
            <div class="col-sm-8 col-xs-10 header__middle">
                <div class="top-menu">
                    <ul class="">
                        <li class="first"><a href="#" ><span>Каталог</span></a></li>
                        <li><a href="#" ><span>Где купить</span></a></li>
                        <li><a href="#" ><span>Покупателям</span></a></li>
                        <li><a href="#" ><span>Партнерам</span></a></li>
                        <li class="last"><a href="#" ><span>Контакты</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>