//= include/header.html



<div class="b-breadcrumbs">
    <div class="container">
        <ul class="breadcrumb"><li><a href="index.html">Главная</a></li>
            <li><a href="collection.html">Каталог</a></li>
            <li class="active">Color New</li></ul>
    </div>
</div>

<div class="b-detail">
    <div class="container">
        <div class="detail__header">Color New</div>
    <div class="row">


        <div class="col-md-8 col-md-push-4 col-lg-9 col-lg-push-3">
            <div class="detail__right">
                <div class="b-product__images">
                    <div class="b-product__slider">
                        <div><a href="/assets/template/img/tmp/product-1.jpg"><img src="/assets/template/img/tmp/product-1.jpg" alt=""></a></div>
                        <div><a href="/assets/template/img/tmp/product-2.jpg"><img src="/assets/template/img/tmp/product-2.jpg" alt=""></a></div>
                        <div><a href="/assets/template/img/tmp/product-3.jpg"><img src="/assets/template/img/tmp/product-3.jpg" alt=""></a></div>
                        <div><a href="/assets/template/img/tmp/product-4.jpg"><img src="/assets/template/img/tmp/product-4.jpg" alt=""></a></div>
                        <div><a href="/assets/template/img/tmp/product-5.jpg"><img src="/assets/template/img/tmp/product-5.jpg" alt=""></a></div>
                    </div>
                    <div class="b-product__slider-nav">
                        <div><div class="img-box"><img src="/assets/template/img/tmp/product-prev-1.jpg" alt=""></div></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/product-prev-2.jpg" alt=""></div></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/product-prev-3.jpg" alt=""></div></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/product-prev-4.jpg" alt=""></div></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/product-prev-5.jpg" alt=""></div></div>
                    </div>
                </div>
                <div class="detail__info">
                    <div class="detail__info-caption">
                        Технические характеристики
                    </div>
                    <div class="table__border">
                        <div class="table">
                            <div class="table__row">
                                <div class="table__td">Размер досок</div>
                                <div class="table__td">915 х 305 mm</div>
                            </div>
                            <div class="table__row">
                                <div class="table__td">Tолщина</div>
                                <div class="table__td">10,0 mm</div>
                            </div>
                            <div class="table__row">
                                <div class="table__td">Кол-во в уп.</div>
                                <div class="table__td">1,68 м.кв</div>
                            </div>
                            <div class="table__row">
                                <div class="table__td">Цена</div>
                                <div class="table__td">1500 руб./м2</div>
                            </div>
                        </div>
                    </div>
                    <div class="detail__cta">
                        <a href="#" class="xbtn">
                            <div class="xbtn__angles">
                                Заказать полы
                            </div>
                        </a>
                        <div class="instruction__item"><a href="#" class="instruction__ukladka">Инструкции по укладке</a></div>
                        <div class="instruction__item"><a href="#" class="instruction__use">Рекомендации по эксплуатации</a></div>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4 col-md-pull-8 col-lg-3 col-lg-pull-9">
            <div class="aside__menu">
                <ul class="leftmenu">
                    <li class="first"><a href="#111"><span>Ecoprint</span><span class="aside__image" style="background-image: url('/assets/template/img/tmp/product-menu-5.jpg');"></span></a></li>
                    <li><a href="#222" ><span>Wood</span><span class="aside__image" style="background-image: url('/assets/template/img/tmp/product-menu-4.jpg');"></span></a></li>
                    <li><a href="#333" ><span>Fantasy&Stone</span><span class="aside__image" style="background-image: url('/assets/template/img/tmp/product-menu-3.jpg');"></span></a></li>
                    <li class="active"><a href="#444" ><span>Adventures</span><span class="aside__image" style="background-image: url('/assets/template/img/tmp/product-menu-2.jpg');"></span></a></li>
                    <li class="last"><a href="#5555" ><span>Time Parquet</span><span class="aside__image" style="background-image: url('/assets/template/img/tmp/product-menu-1.jpg');"></span></a></li>
                </ul>
            </div>
        </div>

    </div>
    </div>
</div>

<div class="b-questions">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <div class="b-form__header">Есть вопросы?</div>
            </div>
            <div class="col-md-7 col-lg-8">
                <div class="headerHint">Заполните форму и мы свяжемся с Вами в ближайшее время</div>
            </div>
        </div>
        <div class="b-form">
            <form action="#" method="post" class="af_feedback ajax_form">
                <input type="hidden" name="work-email" value="" />
                <div class="row">
                    <div class="col-md-4"><input type="text" name="name" placeholder="Ваше имя"></div>
                    <div class="col-md-4"><input type="text" name="phone" placeholder="Телефон"></div>
                    <div class="col-md-4"><input type="text" name="email" placeholder="Электронная почта"></div>
                    <div class="col-md-4"><textarea name="message" id="" cols="30" rows="10" placeholder="Что вас интересует"></textarea></div>
                    <!--<div class="col-md-4"><input type="text" name="message" placeholder="Что вас интересует"></div>-->
                    <div class="col-md-4">captcha</div>
                    <div class="col-md-4">
                        <button class="xbtn" type="submit">
                            <div class="xbtn__angles">
                                Отправить заявку
                            </div>
                        </button>
                    </div>
                </div>
                <input type="hidden" name="af_action" value="dd1823c06088e47bf89250920a5f1a54" />
            </form>
        </div>
    </div>
</div>


//= include/footer.html