//= include/header.html

<div class="b-breadcrumbs">
    <div class="container">
        <ul class="breadcrumb"><li><a href="/">Главная</a></li>
            <li class="active">Материалы для скачивания</li></ul>
    </div>
</div>
<div class="b-material">
    <div class="container">
        <div class="header1">Материалы для скачивания</div>
        <div class="row">
            <div class="col-md-3">
                <div class="aside__menu">
                    <ul class="leftmenu">
                        <li class="first"><a href="#111"><span>Магазинам, салонам</span></a></li>
                        <li><a href="#222" ><span>Дизайнерам и архитекторам</span></a></li>
                        <li><a href="#333" ><span>Строителям и укладчикам</span></a></li>
                        <li class="active"><a href="#444" ><span>Материалы для скачивания</span></a></li>
                        <li class="last"><a href="#5555" ><span>Оформление стендов</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="stext">

                    <div class="material__info">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="material__image">
                                    <img src="/assets/template/img/docsave-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="material__item">
                                    <div class="material__caption">
                                        Скидка на все коллеции пробковых полов с 22 мая по 10 июля 20%
                                    </div>
                                    <div class="material__text">
                                        При соблюдении инструкций по укладке, надлежащей подготовке основания, а также правильных и рекомендованных условий эксплуатации, напольные покрытия CORKSTYLE будут служить долго и надежно.
                                    </div>
                                    <a class="save" href="#">
                                        Скачать
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="material__info">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="material__image">
                                    <img src="/assets/template/img/docsave-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="material__item">
                                    <div class="material__caption">
                                        Скидка на все коллеции пробковых полов с 22 мая по 10 июля 20%
                                    </div>
                                    <div class="material__text">
                                        При соблюдении инструкций по укладке, надлежащей подготовке основания, а также правильных и рекомендованных условий эксплуатации, напольные покрытия CORKSTYLE будут служить долго и надежно.
                                    </div>
                                    <a class="save" href="#">
                                        Скачать
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="material__info">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="material__image">
                                    <img src="/assets/template/img/docsave-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="material__item">
                                    <div class="material__caption">
                                        Скидка на все коллеции пробковых полов с 22 мая по 10 июля 20%
                                    </div>
                                    <div class="material__text">
                                        При соблюдении инструкций по укладке, надлежащей подготовке основания, а также правильных и рекомендованных условий эксплуатации, напольные покрытия CORKSTYLE будут служить долго и надежно.
                                    </div>
                                    <a class="save" href="#">
                                        Скачать
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-questions">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="b-form__header">Есть вопросы?</div>
            </div>
            <div class="col-md-8">
                <div class="headerHint">Заполните форму и мы свяжемся с Вами в ближайшее время</div>
            </div>
        </div>
        <div class="b-form">
            <form action="#" method="post" class="af_feedback ajax_form">
                <input type="hidden" name="work-email" value="" />
                <div class="row">
                    <div class="col-md-4"><input type="text" name="name" placeholder="Ваше имя"></div>
                    <div class="col-md-4"><input type="text" name="phone" placeholder="Телефон"></div>
                    <div class="col-md-4"><input type="text" name="email" placeholder="Электронная почта"></div>
                    <div class="col-md-4"><textarea name="message" id="" cols="30" rows="10" placeholder="Что вас интересует"></textarea></div>
                    <div class="col-md-4">captcha</div>
                    <div class="col-md-4">
                        <button class="xbtn" type="submit">
                            <div class="xbtn__angles">
                                Отправить заявку
                            </div>
                        </button>
                    </div>
                </div>
                <input type="hidden" name="af_action" value="dd1823c06088e47bf89250920a5f1a54" />
            </form>
        </div>
    </div>
</div>


//= include/footer.html