//= include/header.html

<div class="b-breadcrumbs">
    <div class="container">
        <ul class="breadcrumb"><li><a href="/">Главная</a></li>
            <li class="active">Вопросы и ответы</li></ul>
    </div>
</div>
<div class="b-material">
    <div class="container">
        <div class="header1">Вопросы и ответы</div>
            <div class="row">
                <div class="col-md-3">
                    <div class="aside__menu">
                        <ul class="leftmenu">
                            <li  class="active"><a href="#111"><span>Магазинам, салонам</span></a></li>
                            <li><a href="#222" ><span>Дизайнерам и архитекторам</span></a></li>
                            <li><a href="#333" ><span>Строителям и укладчикам</span></a></li>
                            <li><a href="#444" ><span>Материалы для скачивания</span></a></li>
                            <li class="last"><a href="#5555" ><span>Оформление стендов</span></a></li>
                        </ul>
                    </div>
                </div>
                    <div class="col-md-9">
                        <div class="stext">
                            <div class="faq__list"><div class="faq__item">
                                <div class="faq__itemBox">
                                    <div class="faq__btn"></div>
                                    <div class="faq__question">Какая температура должна быть при укладке полов?</div>
                                </div>
                                <div class="faq__answer">
                                    <p>Пробковые полы CORKSTYLE с защитным лаком HotCoating рассчитаны на 15 -20 лет службы без обновления лака. Если обновлять лак, то срок службы не ограничен.</p>
                                </div>
                            </div>
                                <div class="faq__item">
                                    <div class="faq__itemBox">
                                        <div class="faq__btn"></div>
                                        <div class="faq__question">Какими инструментами выполняется укладка полов?</div>
                                    </div>
                                    <div class="faq__answer">
                                        <p>Гарантия на пробковые полы CORKSTYLE 15 лет. Гарантия не защитит пол от повреждений, возникших при неблагоприятных условиях эксплуатации или при происшествиях. Сюда можно отнести механические повреждения: скол от удара, царапину из-за перемещения мебели по полу или порез.</p>

                                        <p>Под ножки мебели нужно подклеивать защитные протекторы. Если вы приобретаете мебель на колесиках (роликах), следите, чтобы они были из мягких (эластичных) материалов, которые не оставляют царапин. Жёсткие пластмассовые колесики оставят следы на самом крепком деревянном полу. Для них существуют прокладки или колпачки для предотвращения остаточного вдавливания. Помните, что пробковый пол – эластичное напольное покрытие.</p>
                                    </div>
                                </div>
                                <div class="faq__item">
                                    <div class="faq__itemBox">
                                        <div class="faq__btn"></div>
                                        <div class="faq__question">Какой клей лучше использовать?</div>
                                    </div>
                                    <div class="faq__answer">
                                        <p>Это связано с экономическими и налоговыми факторами, а также с близостью Швейцарии к одному из крупнейших рынков сбыта Германии. Пробковое сырье на завод поставляется из Португалии и Сардинии.</p>
                                    </div>
                                </div>
                                <div class="faq__item">
                                    <div class="faq__itemBox">
                                        <div class="faq__btn"></div>
                                        <div class="faq__question">Как обслуживать покрытие?</div>
                                    </div>
                                    <div class="faq__answer">
                                        <p>В помещениях с низкой проходимостью можно проводить обычную уборку с использованием швабры. После этого пол можно протирать мягкой салфеткой и средством для мытья, разбавленным водой. Кроме того, нужно избегать луж.
                                            В процессе эксплуатации Вы можете неоднократно обновлять лаковое покрытие, обратитесь за консультацией к специалисту для получения инструкций по обновлению.
                                            В зависимости от уровня нагрузок, попадания солнечных лучей, цвет покрытия может побледнеть. Это следует учесть, если покрытия будут уложены в помещении с высоким воздействием солнечного света. Для избежания царапин и вмятин, необходимо использовать войлочные набойки на основании мебели. Ролики на креслах и стульях должны соответствовать стандарту (DIN 68131- эластичные ролики).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-questions">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="b-form__header">Есть вопросы?</div>
            </div>
            <div class="col-md-8">
                <div class="headerHint">Заполните форму и мы свяжемся с Вами в ближайшее время</div>
            </div>
        </div>
        <div class="b-form">
            <form action="#" method="post" class="af_feedback ajax_form">
                <input type="hidden" name="work-email" value="" />
                <div class="row">
                    <div class="col-md-4"><input type="text" name="name" placeholder="Ваше имя"></div>
                    <div class="col-md-4"><input type="text" name="phone" placeholder="Телефон"></div>
                    <div class="col-md-4"><input type="text" name="email" placeholder="Электронная почта"></div>
                    <div class="col-md-4"><textarea name="message" id="" cols="30" rows="10" placeholder="Что вас интересует"></textarea></div>
                    <div class="col-md-4">captcha</div>
                    <div class="col-md-4">
                        <button class="xbtn" type="submit">
                            <div class="xbtn__angles">
                                Отправить заявку
                            </div>
                        </button>
                    </div>
                </div>
                <input type="hidden" name="af_action" value="dd1823c06088e47bf89250920a5f1a54" />
            </form>
        </div>
    </div>
</div>


//= include/footer.html